*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background: #003973;
    background: -webkit-linear-gradient(to right, #003a739f, #003973);
    background: linear-gradient(to right, #003a739f, #003973);
}
.heading{
    text-align: center;
    margin-top: 40px;
}
.heading h2{
    color: #fff;
    font-weight: 600;
    font-size: 45px;
}
.timeline{
    position: relative;
    max-width: 1200px;
    margin: 45px auto;
}
.container{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;
}
@keyframes movedown{
   0%{
    opacity: 1;
    transform: translateY(-30px);
   }
   100%{
    opacity: 1;
    transform: translateY(0px);
   }
}
.container:nth-child(1){
    animation-delay: 0s;
}
.container:nth-child(2){
    animation-delay: 1s;
}
.container:nth-child(3){
    animation-delay: 2s;
}
.container:nth-child(4){
    animation-delay: 3s;
}
.container:nth-child(5){
    animation-delay: 4s;
}
.container:nth-child(6){
    animation-delay: 5s;
}
.text-box{
    padding: 20px 30px;
    background: #fff;
    position: relative;
    font-size: 15px;
    border: 1px solid rgba(255,255,255,0.3);
    background: rgba(255,255,255,0.2);
    border-radius: 6px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1); 
    backdrop-filter: blur(5px);
}
.text-box h2,small,p{
    color: #fff;
}
.text-box h2{
    font-weight: 600;
}
.text-box small{
    display: inline-block;
    margin-bottom: 10px;
}
.left-container{
    left: 0;
}
.right-container{
    left: 50%;
}
.container img{
    position: absolute;
    width: 40px;
    right: -20px;
    top: 32px;
    z-index: 10;
}
.right-container img{
    left: -20px;
}
.timeline::after{
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  background: #fff;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 6s linear forwards;
}
@keyframes moveline{
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}
.left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 27px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 14px solid rgba(255,255,255,0.2);
    right: -15px;
}
.right-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid rgba(255,255,255,0.2) ;
    left: -15px;
}
.footer p{
    color: #ffffff;
    font-size: 13px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 30px;
}

@media screen and (max-width: 600px){
    .heading{
        margin-top: 45px;
    }
    .heading h2{
        font-size: 40px;
    }
    .timeline{
        margin: 30px auto;
    }
    .timeline::after{
        left: 31px;
    }
    .container{
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    .text-box{
        font-size: 15px;
        text-justify: auto;
    }
    .text-box small{
        margin-bottom: 10px;
        text-justify: auto;
    }
    .right-container{
        left: 0;
    }
    .left-container img, .right-container img{
        left: 10px;
    }
    .left-container-arrow, .right-container-arrow{
        border-right: 15px solid rgba(255,255,255,0.2);
        border-left: 0;
        left: -15px;
    }
    
}